<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fatcars">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/carro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuPadrao"
            android:label="@string/title_activity_menu_padrao"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".endereco" />
        <activity
            android:name=".adapter.informLateral"
            android:label="Informações sobre o carro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".comprovanteLateral"
            android:label="Comprovante de reserva"
            android:parentActivityName=".comprovante"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fatcars.comprovante" />
        </activity>
        <activity
            android:name=".lista.listaCarros"
            android:label="Catálogo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Editarcadastro" />
        <activity android:name=".historico" />
        <activity android:name=".comprovante" />
        <activity android:name=".adapter.informCarro" />
        <activity android:name=".telaLogin" />
        <activity android:name=".Pagamento" />
        <activity android:name=".reservar" />
        <activity android:name=".cadastro" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>